{% extends 'base.html' %}


{% block content %}

<div class="panel panel-info">
    <div class="panel-heading">Room Details</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-home fa-2x"></i>{{room_details.room_name}}</div>
                    <div class="panel-body">
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}